%h1 Results of VOTE ON THE RANDOM!

%table
  %tr
    %th
      = @battle.battle_matchups.left.the_random
    %th
    %th
      = @battle.battle_matchups.right.the_random

  %tr
    %th
      = @battle.battle_matchups.left.votes.count
    %th
    %th
      = @battle.battle_matchups.right.votes.count

  %tr
    %td= link_to image_tag(@battle.the_randoms.left.image_filename), vote_battle_path(@battle, :side => 'left', :return_to => result_path(@battle)), :method => :post

    %th VERSUS
    %td= link_to image_tag(@battle.the_randoms.right.image_filename), vote_battle_path(@battle, :side => 'right', :return_to => result_path(@battle)), :method => :post
