%h1 Vote on the ultimate showdown of a limited set of random!

- if @battle
  %table
    %tr
      %th
        = @battle.battle_matchups.left.the_random
      %th
      %th
        = @battle.battle_matchups.right.the_random

    %tr
      %th
        = @battle.battle_matchups.left.votes.count
      %th
      %th
        = @battle.battle_matchups.right.votes.count

    %tr
      %td= link_to image_tag(@battle.the_randoms.left.image_filename), vote_battle_path(@battle, :side => 'left'), :method => :post
      %th VERSUS
      %td= link_to image_tag(@battle.the_randoms.right.image_filename), vote_battle_path(@battle, :side => 'right'), :method => :post

- else
  %p Hey, looks like you've voted on all the battles already.
