%h1 VOTE ON THE RANDOM!!

- if @last_battle
  %h2 Here are the results from the last battle:
  %p= link_to one_line_results(@last_battle), result_path(@last_battle)

- if @battle
  %h2 Vote on the best random below:

  %table
    %tr
      %th{:width => '33%'}
        = @battle.battle_matchups.left.the_random
      %th{:width => '33%'}
      %th{:width => '33%'}
        = @battle.battle_matchups.right.the_random

    %tr
      %td= link_to image_tag(@battle.the_randoms.left.image_filename), vote_battle_path(@battle, :side => 'left'), :method => :post
      %th.versus VERSUS
      %td= link_to image_tag(@battle.the_randoms.right.image_filename), vote_battle_path(@battle, :side => 'right'), :method => :post

- else
  %p Hey, looks like you've voted on all the battles already.
